<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflytek.dep.admin.dao.NodeAppMapper">
  <resultMap id="BaseResultMap" type="com.iflytek.dep.admin.model.NodeApp">
    <id column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="CAL_URL" jdbcType="VARCHAR" property="calUrl" />
    <result column="APP_NAME" jdbcType="VARCHAR" property="appName" />
    <result column="APP_REMARK" jdbcType="VARCHAR" property="appRemark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from NODE_APP
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iflytek.dep.admin.model.NodeApp">
    insert into NODE_APP (APP_ID, NODE_ID, CAL_URL, 
      APP_NAME, APP_REMARK)
    values (#{appId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{calUrl,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{appRemark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.iflytek.dep.admin.model.NodeApp">
    update NODE_APP
    <set>
      <if test="nodeApp.nodeId != null and nodeApp.nodeId != ''">
        NODE_ID = #{nodeApp.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeApp.appName != null and nodeApp.appName != ''">
        APP_NAME = #{nodeApp.appName,jdbcType=VARCHAR},
      </if>
      <if test="nodeApp.appRemark!= null and nodeApp.appRemark != ''">
        APP_REMARK = #{nodeApp.appRemark,jdbcType=VARCHAR},
      </if>
      <if test="nodeApp.calUrl!= null and nodeApp.calUrl != ''">
        CAL_URL = #{nodeApp.calUrl,jdbcType=VARCHAR}
      </if>
    </set>
    where APP_ID = #{nodeApp.appId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select APP_ID, NODE_ID, CAL_URL, APP_NAME, APP_REMARK
    from NODE_APP
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.iflytek.dep.admin.model.vo.NodeAppVo">
    select t.APP_ID as appId, t.NODE_ID as nodeId, t.CAL_URL as calUrl, t.APP_NAME as appName,
    t.APP_REMARK as appRemark, t1.NODE_REMARK as nodeRemark
    from NODE_APP t
    left join MACHINE_NODE t1 on t.NODE_ID = t1.NODE_ID
    <where>
      <if test="nodeAppDto.appId != null and nodeAppDto.appId != ''">
        and t.APP_ID LIKE CONCAT(CONCAT('%',#{nodeAppDto.appId,jdbcType=VARCHAR}),'%')
      </if>
      <if test="nodeAppDto.appName != null and nodeAppDto.appName != ''">
        and t.APP_NAME LIKE CONCAT(CONCAT('%',#{nodeAppDto.appName,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>
  <select id="getAppNameByNodeId" parameterType="java.lang.String" resultType="java.lang.String">
    select APP_NAME from NODE_APP
    where NODE_ID = #{nodeId,jdbcType=VARCHAR}
  </select>
</mapper>